/* calculated with https://grtcalculator.com/ */

:root {
  --container-size: 612px;

  --2xl-font-size: 37px;
  --2xl-line-height: 58px;

  --xl-font-size: 29px;
  --xl-line-height: 47px;

  --l-font-size: 23px;
  --l-line-height: 38px;

  --base-font-size: 18px;
  --base-line-height: 31px;

  --s-font-size: 14px;
  --s-line-height: 25px;

  --2xl-spacing: 50px;
  --xl-spacing: 31px;
  --l-spacing: 19px;
  --m-spacing: 12px;
  --s-spacing: 7px;
  --xs-spacing: 4px;

  --primary-color: #fafafa;
  --secondary-color: #2a2a2a;
  --accent-color: #793fdf;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  display: relative;
}

.h1 {
  font-size: var(--2xl-font-size);
  line-height: var(--2xl-line-height);
}

.h2 {
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}

.h3 {
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
}

.h4 {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

.em {
  font-size: var(--s-font-size);
  line-height: var(--s-line-height);
}

.mt-2xl {
  margin-top: var(--2xl-spacing);
}

.mt-base {
  margin-top: var(--m-spacing);
}

.mt-xs {
  margin-top: var(--xs-spacing);
}

a {
  text-decoration: none;
  color: inherit;
}

body #navigation-header {
  top: 0;
  position: sticky;
  height: 94px;
}

body #navigation-header .navigation-header__inner {
  justify-content: center;
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

body #navigation-header .navigation-header__inner img {
  transition: all 0.15s linear;
}

body #navigation-header .navigation-header__inner.scrolled {
  height: 58px;
}

body #navigation-header .navigation-header__inner.scrolled img {
  height: 58px;
  width: 58px;
}

body #main-container {
  padding: var(--m-spacing) var(--m-spacing) var(--2xl-spacing) var(--m-spacing);
  max-width: var(--container-size);
  display: grid;
  row-gap: calc(var(--2xl-spacing) * 1.681);
}

@media screen and (min-width: 612px) {
  :root {
    --container-size: 748px;
    --aside-size: 462px;

    --2xl-font-size: 45px;
    --2xl-line-height: 71px;

    --xl-font-size: 36px;
    --xl-line-height: 58px;

    --l-font-size: 28px;
    --l-line-height: 46px;

    --base-font-size: 22px;
    --base-line-height: 37px;

    --s-font-size: 17px;
    --s-line-height: 30px;

    --2xl-spacing: 60px;
    --xl-spacing: 37px;
    --l-spacing: 23px;
    --m-spacing: 14px;
    --s-spacing: 9px;
    --xs-spacing: 6px;
  }

  #main-container {
    max-width: var(--container-size);
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-post .read-more-link,
.featured-post .read-more-link {
  color: var(--accent-color);
  font-weight: 900;
  display: inline-block;
}

.featured-post .read-more-link {
  font-size: var(--s-font-size);
}

.hero-post__meta {
  font-size: var(--s-font-size);
  line-height: var(--s-line-height);
}
