---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

import { Image } from 'astro:assets';
import logo from "../assets/logo_with_name.png"; 

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>
		</style>
	</head>
	<body>
		<header class="navigation-header">
			<a href="/">
				<Image src={logo} alt="logo for mochi tale blog" width={94} height={94} />
			</a>
		</header>
		<main class="main-container">
			<section id="hero-post" class="hero-post">
				<h1 class="hero-post__info__title h1">Some Title that should be short</h1>
				<em class="hero-post__info__meta em">
					<FormattedDate date={new Date()}></FormattedDate>
				</em>
				<p class="hero-post__info__excerpt mt-base">
					Some excerpt of some types here not too long
					which will conclude with read more
				</p>
			</section>
			<section id="featured-posts" class="featured-posts">
				<article class="featured-post">
					<h2></h2>
				</article>
				<article class="featured-post">
					<h2></h2>
				</article>
			</section>
		</main>
	</body>
</html>
